.main-block {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 45px 0;
}
.marvel-device.iphone6 {
    width: 375px;
    min-height: 667px;
    padding: 105px 24px;
    background: #d9dbdc;
    -webkit-border-radius: 56px;
    border-radius: 56px;
    -webkit-box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, .2);
    box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, .2);
}
.marvel-device {
    display: inline-block;
    position: relative;
    -webkit-box-sizing: content-box!important;
    box-sizing: content-box!important;
}
.marvel-device.iphone6:before{
	    width: -webkit-calc(100% - 12px);
    width: calc(100% - 12px);
    height: -webkit-calc(100% - 12px);
    height: calc(100% - 12px);
    position: absolute;
    top: 6px;
    content: '';
    left: 6px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background: #f8f8f8;
    z-index: 1;
}
.marvel-device.iphone6:after{
	    pointer-events: none;
    width: -webkit-calc(100% - 16px);
    width: calc(100% - 16px);
    height: -webkit-calc(100% - 16px);
    height: calc(100% - 16px);
    position: absolute;
    top: 8px;
    content: '';
    left: 8px;
    -webkit-border-radius: 48px;
    border-radius: 48px;
    -webkit-box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, .1), inset 0 0 6px 3px #fff;
    box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, .1), inset 0 0 6px 3px #fff;
    z-index: 2;
}
.marvel-device.iphone6 .top-bar {
    height: 14px;
    background: #bfbfc0;
    position: absolute;
    top: 68px;
    left: 0;
}

.marvel-device .bottom-bar, .marvel-device .top-bar {
    height: 3px;
    background: #000;
    width: 100%;
    display: block;
}
.marvel-device.iphone6 .sleep {
    position: absolute;
    top: 190px;
    right: -4px;
    width: 4px;
    height: 66px;
    -webkit-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
    background: #d9dbdc;
}
.marvel-device.iphone6 .volume {
    position: absolute;
    left: -4px;
    top: 188px;
    z-index: 0;
    height: 66px;
    width: 4px;
    -webkit-border-radius: 2px 0 0 2px;
    border-radius: 2px 0 0 2px;
    background: #d9dbdc;
}
.marvel-device.iphone6 .volume:before {
    position: absolute;
    left: 2px;
    top: -78px;
    height: 40px;
    width: 2px;
    -webkit-border-radius: 2px 0 0 2px;
    border-radius: 2px 0 0 2px;
    background: inherit;
    content: '';
    display: block;
}
.marvel-device.iphone6 .volume:after {
    position: absolute;
    left: 0;
    top: 82px;
    height: 66px;
    width: 4px;
    -webkit-border-radius: 2px 0 0 2px;
    border-radius: 2px 0 0 2px;
    background: inherit;
    content: '';
    display: block;
}
.marvel-device.iphone6 .camera {
    background: #3c3d3d;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 24px;
    left: 50%;
    margin-left: -6px;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    z-index: 3;
}
.marvel-device.iphone6 .sensor {
    background: #3c3d3d;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 49px;
    left: 134px;
    z-index: 3;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}
.marvel-device.iphone6 .speaker {
    background: #292728;
    width: 70px;
    height: 6px;
    position: absolute;
    top: 54px;
    left: 50%;
    margin-left: -35px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    z-index: 3;
}
.marvel-device .screen {
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.marvel-device .screen {
    width: 100%;
    position: relative;
    height: 100%;
    min-height: 667px;
    color: #333;
    z-index: 2;
    text-align: center;
    display: block;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 0 0 3px #111;
    box-shadow: 0 0 0 3px #111;
}
.marvel-device.iphone6 .home{
	-webkit-border-radius: 100%;
    border-radius: 100%;
    width: 68px;
    height: 68px;
    position: absolute;
    left: 50%;
    margin-left: -34px;
    bottom: 22px;
    z-index: 3;
    background: #303233;
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0, #303233), color-stop(50%, #b5b7b9), color-stop(69%, #f0f2f2), color-stop(100%, #303233));
    background: -webkit-linear-gradient(-45deg, #303233 0, #b5b7b9 50%, #f0f2f2 69%, #303233 100%);
    background: -o-linear-gradient(-45deg, #303233 0, #b5b7b9 50%, #f0f2f2 69%, #303233 100%);
    background: -webkit-linear-gradient(315deg, #303233 0, #b5b7b9 50%, #f0f2f2 69%, #303233 100%);
    background: -o-linear-gradient(315deg, #303233 0, #b5b7b9 50%, #f0f2f2 69%, #303233 100%);
    background: linear-gradient(135deg, #303233 0, #b5b7b9 50%, #f0f2f2 69%, #303233 100%);
}
.marvel-device.iphone6 .home:before {
    background: #f8f8f8;
    position: absolute;
    content: '';
    -webkit-border-radius: 100%;
    border-radius: 100%;
    width: -webkit-calc(100% - 8px);
    width: calc(100% - 8px);
    height: -webkit-calc(100% - 8px);
    height: calc(100% - 8px);
    top: 4px;
    left: 4px;
}
.marvel-device.iphone6 .bottom-bar {
    height: 14px;
    background: #bfbfc0;
    position: absolute;
    bottom: 68px;
    left: 0;
}
.marvel-device .bottom-bar, .marvel-device .top-bar {
    height: 3px;
    background: #000;
    width: 100%;
    display: block;
}
.marvel-device.iphone6:after {
    pointer-events: none;
    width: -webkit-calc(100% - 16px);
    width: calc(100% - 16px);
    height: -webkit-calc(100% - 16px);
    height: calc(100% - 16px);
    position: absolute;
    top: 8px;
    content: '';
    left: 8px;
    -webkit-border-radius: 48px;
    border-radius: 48px;
    -webkit-box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, .1), inset 0 0 6px 3px #fff;
    box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, .1), inset 0 0 6px 3px #fff;
    z-index: 2;
}

.clr{
	position: relative;
}
.clr:after{
	content: "";
	clear: both;
	display: block;
}



.users-page-index .btn{
  white-space: normal!important;
  /* text-align: left; */
}

@media (max-width:767px) {
  .marvel-device.iphone6{
    max-width: 245px;
    width: 100%;
  }
  .marvel-device.iphone6 .sensor{
    left: 83px;
  }
}













