@font-face {
    font-family: "CoreSans-Bold";
    src: url("/fonts/Core-Sans/Core-Sans-Bold.eot"); /* IE9 Compat Modes */
    src: url("/fonts/Core-Sans/Core-Sans-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/Core-Sans/Core-Sans-Bold.otf") format("opentype"), /* Open Type Font */
    url("/fonts/Core-Sans/Core-Sans-Bold.svg") format("svg"), /* Legacy iOS */
    url("/fonts/Core-Sans/Core-Sans-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/fonts/Core-Sans/Core-Sans-Bold.woff") format("woff"), /* Modern Browsers */
    url("/fonts/Core-Sans/Core-Sans-Bold.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CoreSans-Regular";
    src: url("/fonts/Core-Sans/Core-Sans-Regular.eot"); /* IE9 Compat Modes */
    src: url("/fonts/Core-Sans/Core-Sans-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/Core-Sans/Core-Sans-Regular.otf") format("opentype"), /* Open Type Font */
    url("/fonts/Core-Sans/Core-Sans-Regular.svg") format("svg"), /* Legacy iOS */
    url("/fonts/Core-Sans/Core-Sans-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/fonts/Core-Sans/Core-Sans-Regular.woff") format("woff"), /* Modern Browsers */
    url("/fonts/Core-Sans/Core-Sans-Regular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CoreSans-ExtraBold";
    src: url("/fonts/Core-Sans/Core-Sans-ExtraBold.eot"); /* IE9 Compat Modes */
    src: url("/fonts/Core-Sans/Core-Sans-ExtraBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/Core-Sans/Core-Sans-ExtraBold.otf") format("opentype"), /* Open Type Font */
    url("/fonts/Core-Sans/Core-Sans-ExtraBold.svg") format("svg"), /* Legacy iOS */
    url("/fonts/Core-Sans/Core-Sans-ExtraBold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/fonts/Core-Sans/Core-Sans-ExtraBold.woff") format("woff"), /* Modern Browsers */
    url("/fonts/Core-Sans/Core-Sans-ExtraBold.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}


body {
    background: #5accbe !important;
    font-size: 18px;
    font-family: "CoreSans-Regular";
}

.img-background {
    width: 100%;
}

.filters {
    background: #c5ef60;
    padding-top: 30px;
    color: #005b6f;
    font-weight: 100;
}

.filters label {
    font-weight: 100;
    font-family: "CoreSans-Bold";
}

.filters input {
    background: #c5ef60;
    border: 2px solid #fff;
    border-radius: 8px;
    color: #005b6f;
    font-size: 14px;
    padding: 4px 5px;
    width: 25%;
}

.filters input::placeholder {
    color: #62a568;
}

.filters button {
    font-family: "CoreSans-ExtraBold";
    background: #fff;
    color: #005b6f;
    border: none;
    border-radius: 10px;
    padding: 1px 10px;
}

table {
    border-collapse: separate;
    margin-top: 30px;
    text-align: center;
}

tr th {
    font-weight: 100;
    text-align: center;
}

tr td {
    font-weight: 100;
}

thead {
    padding: 0px 20%;
}

tbody {
    padding: 0px 20%;
}

tbody tr {
    background: #fff;
}

.fixed-row {
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
}

.fixed-row td:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.fixed-row td:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.fixed-row.row-warning {
    color: #ff7816;
}


.fixed-row {
    color: #008dab;
}

.fixed-row td {
    width: 30%;
}
